<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.khertan.plugin.MusicControl"
    version="0.0.1">

  <name>MusicControl</name>
  <author>Benoit HERVIER</author>
  <description>Control default music player for Android from Cordova/Phonegap. Fork of https://github.com/dustinblackman/cordova-MusicControl</description>
  <license>Apache 2.0</license>
  <keywords>android, music, control</keywords>
  <repo>https://github.com/khertan/cordova-MusicControl.git</repo>
  <issue>https://github.com/khertan/cordova-MusicControl/issues</issue>

  <js-module src="www/MusicControl.js" name="MusicControl">
    <clobbers target="window.musicControl" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=2.9.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MusicControl">
        <param name="android-package" value="net.khertan.plugin.MusicControl" />
      </feature>
    </config-file>

    <source-file src="src/android/net/khertan/plugin/MusicControl.java"
      target-dir="src/net/khertan/plugin" />
  </platform>

</plugin>
